<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieslam_android_dev"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.movieslam_android_dev.views.SplashPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.ReadyToPlayPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.GamePlayPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.InterstitialPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.ResultPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.GenreSelection"
            android:label="@string/title_activity_genre_selection" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.HelpInfo"
            android:label="@string/title_activity_help_info" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.UserTypeSelection"
            android:label="@string/title_activity_user_type_selection" >
        </activity>
        <activity
            android:name="com.example.movieslam_android_dev.views.UidInputPage"
            android:label="@string/title_activity_uid_input_page" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_name"/>
    </application>

</manifest>
