<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movieslam_android_dev"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:name="views.component.FriendPickerApplication">
        <activity
            android:name="views.SplashPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="views.ReadyToPlayPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.GamePlayPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.InterstitialPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.ResultPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.GenreSelection"
            android:label="@string/title_activity_genre_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.HelpInfo"
            android:label="@string/title_activity_help_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.UserTypeSelection"
            android:label="@string/title_activity_user_type_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.UidInputPage"
            android:label="@string/title_activity_uid_input_page"
            android:screenOrientation="portrait" >
        </activity>
        

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="views.RoundHistory"
            android:label="@string/title_activity_round_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="views.GameHistory"
            android:label="@string/title_activity_game_history"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name="views.component.PickFriendsActivity"
                  android:label="Pick Friends"
                  android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
