Library/*

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Assembly-Csharp*

thetwoeyesinteam-csharp.sln

thetwoeyesinteam.sln

Assembly-CSharp-vs.csproj

Assembly-CSharp-vs.csproj

Assembly-CSharp.csproj

thetwoeyesinteam-csharp.sln

thetwoeyesinteam.sln

thetwoeyesinteam.userprefs
