Library/*

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Assembly-Csharp*

thetwoeyesinteam-csharp.sln

thetwoeyesinteam.sln
